# https://www.baeldung.com/logback
# https://mkyong.com/logging/logback-xml-example/

<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
 
  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>
  <root level="error">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>


=========================

<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%yellow(%d) %highlight(%level) %green([%thread]) %cyan(%logger{50}) - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="io.netty" level="warn"/>
  <logger name="io.vertx" level="info"/>

  <root level="debug">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
